@charset "UTF-8";

@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Archivo', sans-serif;
    list-style: none;
    cursor: none;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

@include hypertext_reference(white);

.cursor { 
    position: fixed;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: $m2;
    transition: 0;
    z-index: 101;
}
.cursor-out {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.39);
    transition: 0.1s;
    margin-top: -15px;
    margin-left: -15px;
    z-index: -1500;
}


.activate_nav {
    background: -webkit-linear-gradient(right, $m1, $m2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
