@import './variables';

/* ------------- HEADER ------------- */

header { 
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    @include hypertext_reference(white);
}
header .logo { 
    width: 110px;
    z-index: 101;
}
header ul {
    display: flex;
    flex-direction: column;
    letter-spacing: .2em;
    line-height: 1.23em;
}
header ul li { 
    padding: .4rem 0;
}
header ul li a {
    display: inline-block;
    padding: 5px 0;
    font-family: 'Syne', sans-serif;
    font-weight: 500;
    font-size: calc(2.7em + 1vw);
    letter-spacing: 0;   
}

header ul li a:hover { 
    background-position: 0;
}

header ul li a:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.4s ease-in-out;
}

header .menu-options { 
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.913);
    position: fixed;
    backdrop-filter: blur(3px);
    left: 0;
    top: 0;
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: none;
    visibility: hidden;
    opacity: 0;
}

header .menu-options .left {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    padding: 0 60px;
    color: #fff;
}
header .menu-options .right {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .menu-options .right .info-menu {
    width: 100%;
    height: 70%;
    border-left: 1px solid wheat;
    color: white;
    font-family: 'Syne', sans-serif;
    padding: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header .menu-options .right .info-menu h1 {
    font-weight: 400;
    margin-bottom: 10px;
    font-size: calc(1em + 1vw);
}
header .menu-options .right .info-menu p {
    margin-bottom: 5px;
    font-size: calc(0.2em + 1vw);
}
header .menu-options .right .info-menu .redes {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    margin-top: 50px;
}
header .menu-options .right .info-menu .redes a{
    font-weight: bold;
    font-size: 0.9em;
}
header .menu-options .head {
    width: 100%;
    height: 150px;
}

/* MENU ICON */

header .icon-menu {
    display:flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    overflow:hidden;
    position:relative;
    transition:0.3s;
    width: 70px;
    height: 70px;
    z-index: 101;
  }
  
header .icon-menu:hover > .line{
    background:black;
    transform: translate(100%, 0)
  }
header .icon-menu:hover > .line2 {
    left: 0;
  }
header .line, .line2{
      height: 1px;
      background: black;
      margin: 2px;
      position: relative;
  }
header .line2 {
    position: relative;
    top:-10px;
    left:-100px;
  }
header #line1 {
     transition: .6s ease;
  }
header #line2 {
     transition: .8s ease-in;
  }

// Media query

@media (max-width: 768px) { 
    header {
        padding: 0 2rem;
    }
    
    /* Menú abierto */

    header ul li a { 
        font-size: 2em;
        padding: .5rem;
        line-height: 0px;
    }
}
@media (max-width: 640px){
    /* Menú abierto */
    header .menu-options .left { 
        padding: 0 2rem;
        font-size: 2rem;
        width: 100%;
    }
    header ul li a {
        padding: .9rem;
    }
    header .menu-options .right { 
        display: none;
    }
}