/* colores */

$n1: #060712;
$n2: #fff;
$m1: #ffb56a;
$m2: #ff1940;
$m3: #8fb5ff;

@mixin center_all(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin start_section(){
    width: 100%;
    min-height: 100vh;
    margin-top: -21vh;
}

@mixin text-gradient($color){
    text-decoration: none;
    background-image: linear-gradient(to right, $m2, $m1 50%,$color 50%);
    color: $color;
    display: inline-block;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.4s ease-in-out;
    background-size: 200% 100%;
    background-position: 0%;
    font-family: 'Syne', sans-serif;
    font-weight: 500;
}

@mixin hypertext_reference($color){
    a {
        @include text-gradient($color);
        background-position: -100%;
        cursor: pointer;
        &:hover {
            background-position: 0;
        } 
        &::before{
            content: '';
            background: #54b3d6;
            display: block;
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 0;
            height: 3px;
            transition: all 0.4s ease-in-out;
        }
    }
}
@mixin button-line() {
    padding: 17px 48px 15px 50px;
    letter-spacing: .2rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    background: transparent;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(130deg, $m2, $m1 50%) 1;
    transition: 1s;
    &:hover {
        transition: 1s;
        color: white;
        background: linear-gradient(to right, $m2, $m1 50%);
    }

}
@mixin button-width($colorbg, $color) {
    display: inline-block;
    color: $color;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 15px 15px 25px 0px;
    display: flex;
    align-items: center;
    width: 100%;
    span {
        content: '';
        display: inline-block;
        width: 50px;
        height: 1px;
        background-color: $colorbg;
        transition: 1s;
        margin-right: 10px;
    }
   &:hover > span {
        width: 0px;
        transition: 1s;

   }
}

@mixin title_light(){
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 13px;
    color: gray;
}
@mixin title(){
    padding: 20px 0px;
    font-size: calc(30px + 1vw);
    font-family: "Syne", sans-serif;
    line-height: 35px;
}
@mixin p(){
    letter-spacing: 0px;
    font-size: 16px;
    line-height: 20px;
    text-transform:none;
    max-width: 65ch;
}