{% load static %}
<div class="servicios-wrapper-main">
    <div class="left">
    </div>
    <div class="info">
        <div class="info-left">
            <img src="{{ link_img }}" alt="{{ alt }}">
        </div>
        <div class="info-right">
            <p class="title_light">{{ titulo }}</p>
            <div class="container">
                <h1 class="title">{{ data.principal }}</h1>
            </div>
            <div class="descrip">Haga click en cualquiera de las siguientes opciones para consultar.</div>
            <div class="box-buttons">
                {% for el in data.items %}
                    <button onclick="viewData('{{ el.titulo }}', '{{ el.img }}', '{{ el.alt }}', '{{ el.descrip }}', '{{ el.tiempo }}', '{{ el.precio }}', '{{ el.consulta }}')">{{ el.titulo }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="servicio-detalle">
        <div class="box" id="sd-wrapper">
            <p class="title" id="sd-titulo"></p>
            <div class="img-box">
                <img id="sd-img">
            </div>
            <div class="descrip" id="sd-descrip"></div>
            
            <div class="data-wrapper">
                <p class="data">Tiempo estimado: <div id="sd-time"></div></p> <span style="font-size: 10px;">|</span> <p class="data">Precio base: <div id="sd-price"></div></p>
            </div>
        
            
            <div class="container-buttons">
                <button id="cerrar">atrás</button>
                <a id="sd-contacto" target="_blank">consultar vía whatsapp</a>
            </div>
        </div>
    </div>
</div>  